/*header*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #151520; /* fundo escuro */
  color: #e2e8f0; /* texto claro */
  line-height: 1.5;
}

/* Header fixo */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #7C3AED;
  border-bottom: 1px solid #334155;
  z-index: 100;
}

/* Container centralizado */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
   color: #F5F3FF;
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
}

/* Menu desktop */
nav ul {
  display: flex;
  list-style: none;
  gap: 1.8rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative; /* necessário pro underline */
  transition: color 0.25s ease;
font-size: 1.2rem
}

nav a:hover {
  color: black
}

/* Barrinha underline animada */
nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

/* Ícones SVG */
nav svg {
  transition: transform 0.2s ease;
}

nav a:hover svg {
  transform: scale(1.1);
}

/* Botão hambúrguer (só aparece no mobile) */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #60a5fa;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Mobile: menu vira dropdown */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #EDEDED;
    padding: 1rem 0;
    display: none;
  }

  nav.active {
    display: block;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  nav a {
    font-size: 2.1rem;
    padding: 0.5rem 1rem;
  }
}








/*fim do header*/

.apresentacao {
  padding-top: 14rem;
  height: 120vh;
  margin-left: 315px;
  color: #EDEDED;
  font-size: 2rem;
}

.h2pri {
  font-size: 2.2rem;
margin-top: 0.6rem;

}

.h2o {font-size: 1.8rem;
}
